body{
    background-color: rgb(215, 252, 233);
}

h1{
    background-color: rgb(144, 202, 169);
    font-size: 70px;
    display: inline-flex;
}

.box-one{
    background-color: tomato;
    padding:10px;
    height:100px;
    width:100px;
    border:30px solid rgb(195, 90, 205);
    margin:100px;
    box-sizing: border-box;
}

h2{
    background-color: wheat;
    font-size: 35px;
    display: inline-flex;
}

h3{
    background-color:thistle;
    font-size: 35px;
    display: inline-flex;
}

h4{
    background-color:teal;
    font-size: 35px;
    display: inline-flex;
}
