body{
    background-color: rgb(215, 252, 233);
}


h1{
    background-color: rgb(144, 202, 169);
   font-size: 60px;
}

.box-one{
    background-color: tomato;
    padding:10px;
    height:100px;
    width:100px;
    border:30px solid slateblue;
    margin:100px;
    box-sizing: border-box;
}

h2{
    background-color: wheat;
    font-size:  40px;
}

h3{
    background-color:thistle;
    font-size: 40px;
}

h4{
    background-color:teal;
    font-size: 40px;
}