body{
    background-color: rgb(215, 252, 233);
}


h1{
    
   font-size: 50px;
}

h2{
    background-color: slategray;
    font-size: 20px;
    display:inline-flex
}

h3{
    font-size: 30px;
}
p{
    font-size: 40px;
}