body{
    background-color: rgb(215, 252, 233);
}


h1{
    background-color: rgb(144, 202, 169);
   font-size: 30px;
}

h2{
    background-color: slategray;
    font-size: 25px;
}

p{
    font-size: 40px;
}